.container {
    color: rgb(62, 62, 138);
    font-weight: bold;
    /* background-color: rgb(220, 200, 175); */
}

.rank {
    width: 300px;
    font-size: 25px;
    margin-right: 500px;
}

.cng-btn {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    color: #f1faee;
    padding: 8px 0px;
    width: 450px;
    height: 55px;
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    cursor: pointer;
    background-color: #457b9d;
}

.cng-btn:hover {
    background-color: #9dcccd
}